* {

  box-sizing: border-box;
}

/* Elements */



.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}



.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; 
}


.container-header {
  position: fixed;
  z-index:20;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px black;
  width: 100%;
  top: 0;
  padding: 10px;
}


#About[tabindex="-1"]:focus {
  outline: 0;
}


body,
.subscribe-form input{
  font-family: "Raleway";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Playfair Display";
}

h1 {
  color: #969696;
  font-size: rem;
}

html {
  scroll-behavior: smooth;
}

header,
nav,
h2 {
  
  padding: 10px;
 
}

em {
  font-style: italic;
  font-weight: normal;
  font-size: 3rem;
  color: white;
}

bold {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.p {
  font-weight: normal;
  font-size: 1rem;
  color: white;
}

.alternate-em {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  color: black;
}

.alternate-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.price {
  font-size: 1rem;
  font-weight: normal;
  color: #d7d7d7;
}

/* Layout */

.container {
  margin: 0 auto;
}

/* Content Area */

.site-banner {
  flex-direction: column;
  padding: 4rem 0;
  margin-top: 97px;
}

.site-banner-title {
  font-size: 2.2rem;
  color: white;
  display: inline-block;
}

.site-banner-title-small {
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
  text-align: inherit;
}

.introduction {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}

.introduction-title {
  display: block;
}

.site-nav ul {
  display: flex;
  justify-content: center;
  color: #e2574c;
}

.site-nav li {
  margin: 0 20px;
}

.site-nav a {
  color: #e2574c;
}

.site-nav a:hover {
  color: #b64036;
}

button {
  background-color: #e2574c;
}

button:hover {
  background-color: #b64036;
}

.item-category {
  font-weight: medium;
  font-size: 14px;
  color: #d7d7d7;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: bottom;
  padding: 0.05px 0.05;
  flex-wrap: wrap;
}

.site-header-cart {
  display: flex;
  align-content: space-between;
  order: 2;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.site-header-cart img {
  width: 60px;
  max-width: 100%;
}

.site-header-logo {
  display: flex;
  align-content: space-between;
  order: 1;
  width: 50%;
}
.site-header-logo img {
  width: 200px;
  max-width: 100%;
}

.site-nav {
  color: #e2574c;
  font-weight: bold;
  flex-grow: 1;
  order: 3;
  width: 100%;
}

.site-banner {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-size: cover, 200px, cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-category-images ul {
  font-style: normal;
  font-size: 1.563rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.product-mens {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/mens-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.product-trends {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/trends-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 50vw;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.product-glasses {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/glasses-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 50vw;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.product-sale {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sale-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  border: 2px solid white;
}

.product-bags {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bags-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  border: 2px solid white;
}

.product-womens {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/womens-category.jpg");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  border: 2px solid white;
}

.carousel-header {
  text-align: center;
}

.item-description {
  font-weight: normal;
  font-size: 1.5rem;
  color: #e2574c;
  line-height: 2;
}

.sign-up {
  padding: 40px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/wave-bkgd.jpg);
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 5px;
}

.subscribe {
  color: #e2574c;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.site-footer {
  background-color: #242424;
  color: white;
  width: 100%;
  height: auto;
  padding: 5px;
}

.site-footer-contact {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 3;
  padding: 20px;
  margin-bottom: 1em;
}

.social-names {
  display: none;
}

.about-aloha {
  line-height: 2;
  font-size: 2.5vw;
}

.carousel-cell {
  width: 100%;
  text-align: center;
}

button {
  background-color: #e2574c;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  position: absolute;
  right: 2px;
  top: 4px;
  height: 34px;
  width: 70px;
}

.subscribe-form {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}

.subscribe-form input {
  border-radius: 50px;
  width: 100%;
  height: 40px;
  font-size: 14px;
}


/* Above is for Mobile */

/* Breakpoints */

/* Tablet */

@media screen and (min-width: 600px) {
  .container-header {
    flex-wrap: nowrap;
  }

  .site-header-logo {
    order: 1;
    width: 15%;
  }

  .site-header-cart {
    order: 3;
    width: 15%;
  }

  .site-nav {
    order: 2;
    width: 70%;
  }

  .product-mens {
    width: 50%;
    height: 25vw;
  }

  .product-trends {
    width: 25%;
    height: 25vw;
  }

  .product-glasses {
    width: 25%;
    height: 25vw;
  }

  .product-womens {
    width: 50%;
    height: 25vw;
  }

  .product-sale {
    width: 25%;
    height: 25vw;
  }

  .product-bags {
    width: 25%;
    height: 25vw;
  }

  .carousel-cell {
    width: 50%;
  }

  .social-names {
    display: block;
  }

  .subscribe-form {
    position: relative;
    max-width: 500px;
  }
  
  .subscribe-form input{
    height: 48px;
  }

  button{
    height: 42px;
    width: 100px;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 1;
  }
}

/* Desktop */

@media screen and (min-width: 800px) {
  .site-banner-title {
    font-size: 4rem;
  }

  .site-banner-title-small {
    font-size: 1.25rem;
  }

  .alternate-em {
    font-size: 3rem;
    color: black;
  }

  .alternate-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: black;
  }
  .about-aloha {
    display: inline-block;
    line-height: 2;
    font-size: large;
  }

  .product-mens {
    width: 50%;
    height: 25vw;
  }

  .product-trends {
    width: 25%;
    height: 25vw;
  }

  .product-glasses {
    width: 25%;
    height: 25vw;
  }

  .product-womens {
    width: 50%;
    height: 25vw;
  }

  .product-sale {
    width: 25%;
    height: 25vw;
  }

  .product-bags {
    width: 25%;
    height: 25vw;
  }

  .carousel-cell {
    width: 25%;
  }

  button {
    height: 40px;
    width: 123px;
    position: absolute;
  }

  .subscribe-form input {
    height: 48px;
    position: relative;
  }

  .footer-flex {
    flex-direction: row;
  }

  .footer-social-links {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .site-footer-contact {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    margin-top: 30px;
  }

  button:hover {
    background-color: #b64036;
  }
  
  .subscribe-form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .subscribe-form input {
    border-radius: 50px;
    width: 100%;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .social-links-container {
    display: flex;
    flex-direction: column;

  }

}
